.footer {
  height: 200px;
  width: 100%;
  background-color: #ededed;
  position: relative;
  bottom: 0;
  padding: 1rem;
}

.copyright {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.4;
  margin-top: 3rem;
}
