
.footer {
    height: 200px;
    width: 100%;
    background-color: #fff;
    position: relative;
    bottom: 0;
}

.copyright {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: .6;
    margin-top: 3rem;
}